<div class="grid grid-nogutter surface-section text-800">
  <div
    class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center"
  >
    <section>
      <span class="block text-6xl font-bold mb-1">Jason Hall</span>
      <div class="text-6xl text-primary font-bold mb-3">Software Engineer</div>
      <p class="mt-0 mb-4 text-700 line-height-3">
        I have a BA in Anthropology from Iowa State University, and have
        completed the Masterschool Software Engineering Bootcamp.
      </p>
      <p class="mt-0 mb-4 text-700 line-height-3">
        In May of 2022 I started teaching myself html.
      </p>
      <p class="mt-0 mb-4 text-700 line-height-3">
        Now I can build, test, and deploy restful APIs using the Django Rest
        Framework, I can build interactive UIs with Nextjs and React, I can use
        almost all the different flavors of SQL, and I have experience deploying
        full stack applications to Render, AWS, netlify, and vercel.
      </p>
    </section>
  </div>
  <div class="flex align-items-center col-12 md:col-6 overflow-hidden">
    <ul>
      <li class="mb-4">
        <a href="https://jason-hall.netlify.app" target="_blank"
          >My Portfolio Site</a
        >
      </li>
      <li class="mb-4">
        <a href="https://github.com/Jkhall81" target="_blank">Github</a>
      </li>
      <li>
        <a
          href="https://api.whatsapp.com/send?phone=6232062944&text=Hello%20there!"
          target="_blank"
        >
          <i class="pi pi-whatsapp" style="font-size: 2rem; color: green"></i>
        </a>
      </li>
    </ul>
  </div>
</div>
