<div class="dock-window">
  <p-dock [model]="items">
    <ng-template pTemplate="item" let-item>
      <!-- Show these icons if the user is authenticated -->
      <ng-container *ngIf="authService.isAuthenticatedValue">
        <img
          *ngIf="item.label !== 'Login' && item.label !== 'Register'"
          class="cursor-pointer"
          [src]="item.icon"
          [alt]="item.label"
          width="100%"
        />
      </ng-container>
      <!-- Show these icons if the user is not authenticated -->
      <ng-container *ngIf="!authService.isAuthenticatedValue">
        <img
          *ngIf="
            item.label === 'Login' ||
            item.label === 'Register' ||
            item.label === 'Home'
          "
          class="cursor-pointer"
          [src]="item.icon"
          [alt]="item.label"
          width="100%"
        />
      </ng-container>
    </ng-template>
  </p-dock>
</div>
<div class="flex justify-content-center align-items-center h-full">
  <router-outlet></router-outlet>
</div>
